@use '../variables'
.comment
   background-color: #fff
   border-radius: 4px
   &:nth-child(3)
      padding-bottom: 50px

   &-item
      display: flex
      justify-content: space-between
      margin-left: 10px 
      
      &_avatar
         margin-top: 20px
         width: 5%
         
         padding-left: 15px
      &_descr 
         width: 95%
         padding-left: 10px
         border-left: 1px solid #E4E7EB
      &__name
         color: variables.$text-color
         font-size: 19px
         margin-bottom: 8px
         font-weight: bold
.comments
   position: relative
   max-height: 320px
   overflow: hidden
.readMore
   position: absolute
   color: variables.$text-color
   font-size: 19px
   font-weight: bold
   bottom: 15px
   left: 900px
   