.container {
  max-width: 1300px;
  margin: 0 auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.search input {
  padding: 8px 20px 8px 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #D1D5DA;
}
.search input:hover {
  cursor: pointer;
}

html, body, #root, .App {
  height: 100%;
  background-color: #E4E7EB;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 10px;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
}
.header__logo:hover {
  cursor: pointer;
}
.header__logo_1 {
  color: #3C81F6;
}
.header__logo_2 {
  color: #fff;
  margin-left: 5px;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav nav a {
  margin-left: 60px;
  text-decoration: none;
  color: #fff;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post {
  width: 300px;
  height: 200px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}
.post:hover {
  cursor: pointer;
}
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.post-item__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3C81F6;
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
  overflow: hidden;
  max-height: 49px;
}
.post-item__body {
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
  max-height: 100px;
  overflow: hidden;
}
.post-item__madeby {
  color: #3C81F6;
  margin-top: 8px;
}

.users {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.users ul {
  list-style: none;
}
.users .user {
  width: 300px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}
.users .user-title {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
}
.users .user-body {
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
}
.users .user-posts {
  margin-top: 10px;
  color: #3C81F6;
}

.postOne {
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}
.postOne__comments {
  color: #3C81F6;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 14px;
  margin-top: 20px;
}

.post-single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-single__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #3C81F6;
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
}
.post-single__body {
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
  font-size: 19px;
}
.post-single__madeby {
  color: #3C81F6;
  margin-top: 8px;
}

.comment {
  background-color: #fff;
  border-radius: 4px;
}
.comment:nth-child(3) {
  padding-bottom: 50px;
}
.comment-item {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.comment-item_avatar {
  margin-top: 20px;
  width: 5%;
  padding-left: 15px;
}
.comment-item_descr {
  width: 95%;
  padding-left: 10px;
  border-left: 1px solid #E4E7EB;
}
.comment-item__name {
  color: #3C81F6;
  font-size: 19px;
  margin-bottom: 8px;
  font-weight: bold;
}

.comments {
  max-height: 380px;
  overflow: hidden;
}

.readMore {
  position: absolute;
  color: #3C81F6;
  font-size: 19px;
  font-weight: bold;
  left: 900px;
  bottom: 230px;
}

.other {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.other-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
  overflow: hidden;
  max-height: 49px;
}
.other-body {
  border-bottom: 1px solid #E4E7EB;
  padding-bottom: 4px;
  max-height: 100px;
  overflow: hidden;
}